* {
    margin: 0;
    padding: 0;
    outline: 0;
}
  
*, ::after, ::before {
    box-sizing: border-box;
}
  

aside{
    border-width:1px;
    border-style:dotted;
    border-color:gray;
}

.navbar{
    background-image: url("./img/violet.png");
    position: sticky;
    top: 0;
    list-style-type: none;
    padding: 30px;
}

.navbar .nav-item{
    float: left;
    padding: 10px;
}

.navbar .nav-item:last-child{
    float: right;
    padding: 10px 15px;
    margin: 10px;
    color: white;
    background-color: orangered;
    border-radius: 10px;
}
.sub-menu {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
}
.nav-item-forum{
    color: white;
    float: left;
    padding: 10px;
}
.nav-item-forum .sub-menu{
    padding: 10px;
    border-bottom: none;
}

.nav-item-forum:hover .sub-menu{
    text-decoration: none;
    display: block;
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
    border-radius: 10px;
    border-width:1px;
    border-style:inset;
    border-color:black;
    border-collapse: collapse;
}
.nav-item-actu{
    color: white;
    float: left;
    padding: 10px;
}
.nav-item-actu .sub-menu{
    padding: 10px;
    border-bottom: none;
}

.nav-item-actu:hover .sub-menu{
    text-decoration: none;
    display: block;
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
    border-radius: 10px;
    border-width:1px;
    border-style:inset;
    border-color:black;
    border-collapse: collapse;
}
.s-m-section {
    text-align: center;
    background: linear-gradient(45deg, #F47850, #FFA93A, #F47850);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}


.s-m-title {
    margin: 20px;
}

.s-m-descritpion {
    margin: 0 0 40px 0;
}

.s-m-btn {
    color: #4F7FE0;
    border: 2px solid;
    padding: 8px 20px;
    background: 0;
}

.s-m-btn-2 {
    color: #F47850;
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
  
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  
}
  
@media (min-width: 576px) {
    .card {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .statics-rows {
      flex: 100%;
      -ms-flex: 0 0 100%;
      max-width: 100%;
    }
}
  
@media (min-width: 768px) {
    .card {
      -ms-flex: 0 0 45%;
      flex: 0 0 45%;
      max-width: 45%;
    }
    .statics-rows {
      flex: 33.33%;
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }
}
  
@media (min-width: 992px) {
    .card {
      -ms-flex: 0 0 45%;
       flex: 0 0 45%; 
       max-width: 45%;
    }
    .statics-rows {
      flex: 33.33%;
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }
}
  
@font-face {
    font-family: 'quadranta';
    src: url('quadranta.eot');
    src: url('quadranta.otf') format('truetype'), 
    url('quadranta.otf') format('woff'),
    url('quadranta.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}